@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: rgb(13, 15, 14);
    text-align: center;
    color: azure;
    width: 100%;
    

}

nav {

    background: rgb(1, 15, 4);
    position: fixed;
    width: 100%;
    margin-top: -90px; 
    display: flex;
    
}

body {
    background-color: rgb(113, 122, 165);


}

.menu_horizontal {
    
    color: aqua;
    list-style: none;
    margin:  auto;
 
}

.menu_horizontal li {

    display: inline-block;
    height: 100%;
    width: auto;
    margin: auto ;
    align-items: center;

    

}
.menu_horizontal li a{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    margin: 25px;
    display: flex;
    justify-content: space-around;

}

.menu_vertical {
    background-color: rgb(1, 15, 4, 0.8);

    display: none;
    list-style: none;
    position: absolute;

}
.menu_vertical li{
    padding-left: 10px;
    width: 100%;
}
.menu_vertical li a{

    color: aliceblue;
}

.menu_horizontal li:hover{

    background-color: rgb(255, 0, 76);
    transition: all 0.6s;

}

.menu_horizontal li:hover .menu_vertical{
    display: grid;
    
}
.fa-solid fa-house{
    box-sizing: border-box;
    display: flex;
    width: 100px;
    height: 1000px;
}

.contenedor {
    border: 1px solid rgb(22, 19, 19);
    background: red;
    box-sizing: content-box;
    margin: 10px auto;
    width: 310px;
    height: 100px;



}

.contenedor div {
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
}


footer {
    background-color: black;

    color: aquamarine;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;

}

footer a {
    text-decoration: none;
    color: azure;
    margin: 50px;
}

.noticia {
    margin: auto;
    width: 30%;
    background-color: bisque;
    border: 1px solid red;
    margin-top: 90px;


}

.noticia {
    width: 30%;
    padding: 5px;
    font-family: sans-serif;
}

.noticia img {
    width: 300px;
    height: 350px;
    float: left;
    padding: 5px;


}

#menu_r {
    display: none;
}

@media only screen and (max-width: 700px) {

    .menu_nr {
        display: none;
    }

    #menu_r {
        display: block;
    }

}