*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(13, 15, 14);
    text-align: center;
    color: azure;
    

  
}
body{
    background-color: rgb(245, 243, 240);
}
.menu ul li{
    display: inline-block;
    padding: 20px 20px;
    height: 10%;
    
}
.menu ul li a{
    color: aliceblue;
    font-size: 100%;
    margin: auto;

}
