body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: flex;
  transition: opacity 0.3s ease;

}

.modal.show {
  opacity: 1;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  position: relative;
  border-radius: 60px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}






.carta-amor {
  max-width: 800px;
  margin: 50px auto;
  background-color: #f9e4d4;
  /* Color pastel claro */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.carta-amor .texto h1 {
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 2.5em;
  color: #8b008b;
  /* Morado */
  margin-bottom: 20px;
  text-transform: uppercase;

}

.carta-amor p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #4a4a4a;
  /* Gris oscuro */
  margin-bottom: 15px;
}

.carta-amor p:first-of-type {
  margin-top: 10px;
  font-weight: bold;
}

.carta-amor p:last-of-type {
  font-style: italic;
  text-align: center;
}

.carta-amor p span {
  color: #8b008b;
  /* Resaltar palabras clave */
  font-weight: bold;
}

.carta-amor a {
  color: #ff4500;
  /* Enlaces naranjas */
  text-decoration: none;
}

.carta-amor a:hover {
  text-decoration: underline;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(50% - 20px); /* Dos tarjetas por fila */
  margin-bottom: 20px;
}

.parte2 {
  background-color: var(--main-bg);
}

.texto-p {
  color: var(--light-text);
}

@media (max-width: 600px) {
  .card {
      width: 100%; /* Una tarjeta por fila en pantallas pequeñas */
  }
}






  